In [43]:
(defun sqr-lst (lst)
    (mapcar 'sqr lst))

SQR-LST

REDEFINITION-WITH-DEFUN:
  redefining COMMON-LISP-USER::SQR-LST in DEFUN

In [8]:
(defun f (x y)
    (/ (* -1 (expt y 3))
       (+ (* 3 x y y) (* 2 y) (* -1 1))))

F

REDEFINITION-WITH-DEFUN:
  redefining COMMON-LISP-USER::F in DEFUN

In [9]:
(f 0.64 -1.95)

3.0885017

In [10]:
(f 2.31 0.8)

-0.101684146

In [2]:
(use-package "ITERATE")
(use-package "FOR")

T

SIMPLE-PACKAGE-ERROR: The name "FOR" does not designate any package.

The name "FOR" does not designate any package.

In [3]:
(ql:quickload :for)

To load "for":
  Load 1 ASDF system:
    for

(:FOR)

; Loading "for"

In [11]:
(f 0 1.63)

-1.9162596

In [12]:
(f -0.00726 1.63207)

-1.9705439

In [18]:
(loop repeat 6 collect (random 30))

(14 25 12 5 1 26)

In [44]:
(iter (for el in '(-1 7 2 3 5 8 6 -4))
           (when (> el 3)
             (collect el)))

(7 5 8 6)

In [43]:
(iter (for el in '(1 2 3 4 5))
(sum (expt el 7)))

96825

In [59]:
(reduce '+ (iterate (for i from 1 to (random 300))
      (collect (sqrt (random 100)))))

1084.4088

In [75]:
(reduce 'f '(2 3 5))

120

In [4]:
(for:for ((li in (list 1 2 3 4)))
  (thereis (evenp li)))

T

In [24]:
(loop for li in (list 1 2 3 4)
      for vi across #(a b c d)
      do (format T "~&~a ~a" li vi))

NIL

1 A
2 B
3 C
4 D

In [23]:
(reduce '+ (for:for ((randoms collecting (random 100)))
  (until (= 20 (length randoms)))))

1049

In [35]:
(reduce '+ (for:for ((i repeat 100)
          (randoms collecting (* i (+ 1 (random 9)))))))

23363

In [37]:
(defun sqr (x)
   (* x x))

SQR

In [38]:
(sqr 3)

9

In [43]:
(defun sqr-lst (lst)
    (mapcar 'sqr lst))

SQR-LST

REDEFINITION-WITH-DEFUN:
  redefining COMMON-LISP-USER::SQR-LST in DEFUN

In [47]:
(reduce '+ (sqr-lst '(1 3 5 7 9 11 13 15 17 19)))

1330