In [2]:
import sys
sys.path.append('/Users/gary/anaconda/lib/python2.7/site-packages')

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
arr1 = np.arange(9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [6]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
ser1 = Series([0,1,2],index=['T','U','V'])
ser2 = Series([3,4],index=['X','Y'])

In [8]:
ser1

T    0
U    1
V    2
dtype: int64

In [9]:
ser2

X    3
Y    4
dtype: int64

In [10]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [11]:
pd.concat([ser1,ser2],axis=1)

    0   1
T   0 NaN
U   1 NaN
V   2 NaN
X NaN   3
Y NaN   4

In [12]:
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [13]:
dframe1 = DataFrame(np.random.randn(4,3),
                   columns=['X','Y','Z'])

dframe2 = DataFrame(np.random.randn(3,3),columns=['Y','Q','X'])

In [14]:
dframe1

          X         Y         Z
0  0.323771  0.423184  2.028365
1 -0.015960 -1.108134  1.665473
2 -0.966740 -1.860144  0.048741
3  0.588599 -0.791285 -1.443799

In [15]:
dframe2

          Y         Q         X
0  0.265572 -3.680187  1.091783
1 -2.440058  0.555355 -0.482136
2 -1.627878  0.395705  0.195388

In [16]:
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN  0.323771  0.423184  2.028365
1       NaN -0.015960 -1.108134  1.665473
2       NaN -0.966740 -1.860144  0.048741
3       NaN  0.588599 -0.791285 -1.443799
0 -3.680187  1.091783  0.265572       NaN
1  0.555355 -0.482136 -2.440058       NaN
2  0.395705  0.195388 -1.627878       NaN

In [17]:
pd.concat([dframe1,dframe2],ignore_index=True)

          Q         X         Y         Z
0       NaN  0.323771  0.423184  2.028365
1       NaN -0.015960 -1.108134  1.665473
2       NaN -0.966740 -1.860144  0.048741
3       NaN  0.588599 -0.791285 -1.443799
4 -3.680187  1.091783  0.265572       NaN
5  0.555355 -0.482136 -2.440058       NaN
6  0.395705  0.195388 -1.627878       NaN

In [18]:
url = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.tools.merge.concat.html'